body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin:0;
  background-color: #f4f4f4;
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  color: white;
  ;
    
}
.homeHeader{
    width: 80%;
    margin:auto;
    background: rgba(0,0,0,0.3);
    padding: 50px;
    color: white;
}
.homeP{
    background: rgba(0,0,0,0.3);
    color: white;
}
ul{
  margin: 0;
  padding: 0;
}

/* Header */
header{
  background: #353637;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #32a0c2 3px solid;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}
header .highlight, header .current a{
  color: #32a0c2;
  font-weight: bold;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 500px;
  background:url('../img/headerbg.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}
/*
.css_selector {
background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url('../img/headerbg.jpg');*/
/* Newsletter */
#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #353637;
}
#newsletter h1{
  float: left;
}
#newsletter form{
  float: right;
  margin-top: 15px;
}
#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
.button_1{
  height: 38px;
  background: #cccccc;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #353637;
}

footer{
  position: fixed;
  bottom: 0;
  width:100%;
  padding: 5px;
  margin-top: 5px;
  color: #ffffff;
  background-color: #32a0c2;
  text-align: center;

}


@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase h1{
    margin-top: 40px;
  }
  #newsletter button {
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }
}
@media(max-width: 768px){ /* insert CSS code for small screen sizes here */ }

/* Sidebar */
aside#sidebar{
  float: right;
  width: 30%;
  padding: 5px;
}
aside#sidebar .contact input, aside#sidebar .contact textarea{
  width: 90%;
  padding: 5px;
}
article#main-col{
  float: left;
  width: 65%;
}
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }
  
  [...]
}
/* Services */
ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #32a0c2;
}
ul#services h3{
  border-bottom: #353637 solid 1px;
}
#newsletter form input[type="email"],
  .contact input,
  .contact textarea,
  .contact label{
    width: 100%;
    margin-bottom: 5px;
  }
/* chat bot */
.chatbot {
  display: relative;
  margin: 60px auto;
  text-align: left;
  
}
body {
  background-color: #333;
}
.frame {
  border: 5px solid white;
}
.user {
  position:relative;
  padding:10px 20px;
  color:white; 
  background:#0B93F6;
  border-radius:25px;
  float: right;
    margin-bottom: 12px;
    margin-top:12px;
  &:before {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-2px;
    right:-7px;
    height:20px;
    border-right:20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
  }

  &:after {
    content:"";
    position:absolute;
    z-index:1;
    bottom:-2px;
    right:-56px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-left-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}
.watson {
  position:relative;
  padding:10px 20px;
  background:#E5E5EA;
  border-radius:25px;
  color: black;
  float: left;
    margin-bottom:12px;
    margin-top:12px;

  &:before {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-2px;
    left:-7px;
    height:20px;
    border-left:20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
  }

  &:after {
    content:"";
    position:absolute;
    z-index:3;
    bottom:-2px;
    left:4px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-right-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}

#chatWindow{
    max-height: 60vh;
    max-width: 450px; 
    margin: 50px auto;
    overflow:auto;
}
#chatWindow.div{
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vw; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 25px 25px 25px 25px;
    width: 70%;
    height: 70%;
    border: 1px solid #888;
     /* Could be more or less, depending on screen size */
    z-index: 2; /* Sit on top */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-right:25px;
}
/* Safari */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#search_form_input {
  width:90%;
  margin:auto;
}

#search_box.active {
  width:90%;
  margin:auto;
  position: fixed;
  bottom: 80px;
}