</html>
  <head>
      <meta charset="utf-8">
      
      <title>Lou Chat Bot</title>
      <!-- Import libraries -->      
      <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/static/style.css">

    </head>
    <body>
      <header>
        <div class="container">
          <div id="branding">
            <h1><i class="fa fa-rocket"></i> <span class="highlight">Open Data</span> Portal</h1>
          </div>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="chat">Chat</a></li>
              <li class="current"><a href="help">Help</a></li>
            </ul>
          </nav>
        </div>
          
      </header>
      <section id="chatWindow" class="main">
        <h1 style="color:white;">Open Data Bot Help</h1>
        <p style="color:white;">This friendly chatbot, Lou, has been designed to help users interact with the <a href="https://opendata-city-of-waterloo.opendata.arcgis.com/" style="color:DodgerBlue">City of Waterloo's Open Data Portal.</a> Waterloo's Open Data Portal contains city-managed spatial datasets about things like parks, schools, trails, creeks, and more. Data from the portal can be used to create your own insights and applications, or just to explore authoritative data provided by the municipal government. Please feel free to chat to Lou in a humanly way to discover new datasets, visualize them on a map, learn more about their metadata, and the fields they contain. Main functionality includes:
          <ul style="color:white;">
            <li>Listing which datasets it has access to</li>
            <li>Displaying the fields (attributes) in a given dataset</li>
            <li>Displaying “more information” (metadata) for a given dataset</li>
            <li>Showing geographic data on a map</li>
            <li>Downloading selected datasets</li>
            <li>Return the above capabilities when a user asks about functionality</li>
      </section>
       <footer>
        <p>Open Data Portal, Copyright &copy; 2018</p>
      </footer>

  </body>



    </body>
</html>