<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Open Data Portal">
    <title>Lou Chat Bot</title>
    <link rel="stylesheet" href="/static/style.css">

  </head>
  <body>
    <header>
        <div class="container">
        <div id="branding">
          <h1><i class="fa fa-rocket"></i> <span class="highlight">Open Data</span> Portal</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="chat">Chat</a></li>
            <li><a href="help">Help</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="showcase">
        <div class="container">
        <h1 class="homeHeader">Accessible Open Data for Everyone</h1>
        <p class="homeP"> Introducing Lou: a friendly robot that can connect you to Waterloo's Open Data Portal through a chat interface.</p>
      </div>
    </section>
    
    <section id="boxes">
        <div class="container">
        <div class="box">
          <i class="fa fa-signal fa-5x"></i>
          <h3>Access Data Easily</h3>
          <p> Query a variety of spatial data in a simple chat interface.</p>
        </div>
        <div class="box">
          <i class="fa fa-photo fa-5x"></i>
          <h3>Learn About Open Data</h3>
          <p> View the metadata and learn about the attributes of many Waterloo datasets.</p>
        </div>
        <div class="box">
          <i class="fa fa-cube fa-5x"></i>
          <h3>Explore The Possibilites</h3>
            <p><a href="chat">Get started!</a></p>
          
        </div>
      </div>
    </section>
    <footer>
      <p>Open Data Portal, Copyright &copy; 2018</p>
    </footer>
     

  </body>
</html>